@import "tailwindcss";

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #525252 #171717;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #171717;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 9999px;
  border: 2px solid #171717;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #737373;
}

button {
  cursor: pointer;
}
